.wd-navbar-text{
    color: red !important;
}
.wd-image-container{
    border: 1px solid lightgrey;
    align-content: center !important;
}
.wd-box-image {
    margin: 12%;
}
.wd-text-align{
    text-align: left !important;
}
.wd-course-temp-text{
    color: grey;
}
.wd-form-bg-color {
    background-color: lightgrey !important;
}

.grey {
    color: grey;
}

.wd-account-navigation-active .wd-navigation-element-title {
    padding-left: 8px;
    border-left: 2px solid black;
    color: black;
}