.kb-body-text .card {
    width: 270px;
    padding: 10px;
    margin: 20px;
}

.kb-body-text a {
    text-decoration: none;
}

.kb-body-text .card h6 {
    margin-top: 4px;
}

.kb-body-text .card p {
    color: gray;
    font-size: 12px;
    margin-bottom: 2px;
}

.kb-body-text .card i {
    color: gray;
    margin-left: 2px;
}

.card-header {
    position: relative;
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
}

.fas.fa-ellipsis-v {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: white; /* Set the color of the dots to white */
}
