body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    margin: 0
}

/* Navbar Styles Start  */

a {
    text-decoration: none;
    cursor: pointer;
}

.wd-navbar-content{
    width: 85px;
    height: 100vh;
    background: black;    
    overflow-y: scroll;
}

.wd-navbar-item-container{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.50rem 0;
}

.wd-navbar-item-container a {
    color: #ffffff;
    text-decoration: none;

}




.navbar-item-active {
    background: white;
}

.navbar-item-active a{
    color: #D41B2C;
}

.navbar-item-active .white {
    color: grey;
}


.wd-logo-container img {
    width: 100%;
    height: auto;
}

.wd-nav-item-icon{
    font-size: 1.75rem;
    color: #D41B2C;
}

.wd-white {
    color: white;
}

.wd-red {
    color: D41B2C;
}

.wd-nav-item-text {
    margin: 0.5rem 0;
    font-size: 0.85rem;
}

.wd-wd-nav-item-text{
    color: grey;
}

@media (max-width: 768px) {
    .wd-navbar-content {
        display: none;
    }
}

