* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ================== NAVIGATION SIDEBAR ==================== */

.nav__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100px;
}

.nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.nav__links > p {
    color: white;
}

.nav__links__active {
    background-color: #fff;
}

.nav__links__active > p {
    color: rgb(211, 12, 12);
}

/* ================== DASHBAORD ==================== */

.dash__main {
    width: calc(100% - 120px);
    float: right;
}

.dash_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 0rem;
}

.dash_header > p,
.dash_subheader > p {
    font-size: 2rem;
}

.card__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card__main {
    border: 1px solid lightgray;
    width: 20rem;
    min-height: 20rem;
    border-radius: 10px;
    /*overflow: hidden;*/
    position: relative;
}

.card__top {
    background-image: url("Assests/husky.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 12rem;
}

.card__edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 0.5rem 0.5rem;
}

.card__icons {
    display: flex;
    justify-content: space-around;
}

.card__course__text {
    margin: 0;
}

/* ================== COURSES ==================== */

.course__main {
    float: right;
    width: calc(100% - 120px);
}

.course__header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

/* course navigation */

.course__nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 1rem;
}

.course__nav__links {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(211, 12, 12);
}

.course__nav__links__active {
    color: #121212;
    position: relative;
}

.course__nav__links__active::before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.8rem;
    border-left: 1px solid black;
    width: 0.3rem;
    height: 100%;
    background-color: black;
}

.course__body {
    display: flex;
    gap: 10px;
}

.course__details {
    width: 100%;
    overflow-y: auto;
}

/* ================== MODULE LIST ==================== */

.module__list {
    margin-right: 1rem;
}

.module__list__btns {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    float: right;
}

.module__list__btns > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.module__list__body {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.module__list__item {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px 10px 10px 10px;
    background-color: lightgray;
    border-radius: 0.2rem;
}

.module__list__item__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module__list__icons {
    display: flex;
    gap: 20px;
}

.module__list__item__head__left {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ================== HOME ==================== */

.home {
    margin-right: 1rem;
}

.home__btns {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.home__btns > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home__body {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-x: auto;
    white-space: nowrap;
}

.home__body__layout {
    display: flex;
    gap: 15px;
}

.home__item {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    background-color: lightgray;
    border-radius: 0.2rem;
    max-height: 50rem;
    min-width: 0;
}

.home__item__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
}

.home__item__head__left {
    white-space: nowrap;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-wrap: break-word;
    flex-wrap: nowrap;
}

/* Webkit browsers like Chrome, Safari */
.home__body::-webkit-scrollbar {
    height: 8px;
}

.home__body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.home__body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
.home__body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
}

.home__icons {
    display: flex;
    gap: 20px;
}

/* right panel home  */

.home__right__panel {
    width: 300px;
}

.right__panel__top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right__panel__top__element {
    border: 1px solid lightgray;
    padding: 0.5rem;
    background-color: lightgray;
}

.right__panel__bottom {
    margin-top: 2rem;
}

.bottom__top {
    display: flex;
    gap: 1rem;
}

.bottom__top > p {
    color: rgb(211, 12, 12);
    font-size: 1.2rem;
}

/* ================== ASSIGNMENT ==================== */

.assis__main {
    margin-right: 1rem;
    /* border: 1px solid lightgray; */
    width: 100%;
}

.assignment__topbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.assignment__topbar input {
    padding: 0.3rem 0.8rem;
}

.assignment__topbar div {
    display: flex;
    gap: 10px;
}

.assis__main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: lightgray;
    border-bottom: 1px solid black;
}

.assis__main__header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

.assis__main__total {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.3rem;
}

.assis__main__header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.assis__list {
    display: flex;
    flex-direction: column;
    border-left: 0.4rem solid green;
}

.assis__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.assis__item__left,
.assis__item__right {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.assis__links {
    text-decoration: none;
    color: black;
}

/* ================== GRADES ==================== */

.grades__main {
    margin-right: 2rem;
}

.grades__search {
    display: flex;
    gap: 2rem;
    margin: 2rem 0rem;
}

.searchBar,
.searchBar1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchBar input,
.searchBar1 input {
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
}

#searchIcon,
#searchIcon1 {
    position: absolute;
    top: 3.3rem;
    left: 0.8rem;
    font-size: 1.5rem;
}
